.section-imagem{
    display: flex;

    @media(max-width:550px){
        flex-direction: column-reverse;
        
    }
}

.container-imagem{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 5rem;

    @media(max-width:550px){
        padding: 1rem 2rem;
        
    }
}

.imagem{

    width: 700px;
    
    @media(max-width:550px){
        width: 380px;

    }
}

.titulo-imagem{
    font-weight: 900;
    font-size: 64px;
    line-height: 67.2px;
}

.titulo-imagem > span{
    color: var(--cor-laranja-escuro);
}

.paragrafo-imagem{
    font-weight: 700;
}

.botao-img{
    width: 55%;
}

.img-botao{
    width: 100px;
    position: relative;
    left: 100px;
}