@import url("./cabecalho.css");
@import url("./imagem.css");
@import url("./card.css");
@import url("./card-secundario.css");
@import url("./rodape.css");




@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-laranja-escuro:#ED4D1B;
    --cor-laranja-claro:#FF9A3C;

    --fonte-principal: "Roboto", serif;
}

body{
    background: linear-gradient(to right, #FFE7D1, #FFF2E5);
    font-family: var(--fonte-principal);
    margin: 0 1rem;
    border: 1px solid black;
    border-top: none;
}